<div class="container">
  <img class="pics" src="assets/faqs.jpg" alt="">

  <h2 class="sub-head">Table of Contents. Click to jump to it.</h2>

  <a href="">What is the phone number for Babysitter.com support?</a>
  <p>Just wanted to know what your phone number is, I cannot seem to find...<a class="mida" href="">more</a></p>
  
  <br>
  <a href="">What's new in the Babysitter Community?</a>
  <p>
      Today, the Babysitter.com Community team is thrilled to reveal the new look and feel of our 
      site. For a few months, we have been hard at work redesigning our Babysitter.com Community 
      website to give our users a seamless and...<a class="mida" href="">more</a>
  </p>
  <br>
  <a href="">Watching 2 kids, how much should I be getting paid?</a>
  <p>Just a little bit about myself. Hi I'm Lena and I'm a personal assistant and my boss's 
     daughter asked me to start watching her two kids, one is a year old the others 4...
     And he's not very nice. She wants to pay me 95 kroner a day...<a class="mida" href="">more</a> </p>

</div>

