<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <img class="pics" src="assets/Babies.jpg" alt="">
  <div class="choice">
    <h3 class="firstp">Danmark's most trusted site to find a babysitter, baby and Aupair near you. Register now,it's free
    </h3>
   
  </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<main id="main">
    <section id="section-a" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">WHAT DO WE DO</h2>
        <div class="content-text">
        <p>Adults don't all age the same way at the same time, so having an open and honest conversation with the senior in your
          life can help determine the best type of care to suit their needs. Two common options for 
          seniors who require care are private, in-home care from a professional and assisted living,
          which includes medical professionals in a community atmosphere designed for seniors.
  
          Experts say the most important things to consider are the cost of care and the level of daily 
          care needed. Do your research and consider these things. Sit down with your loved one and talk 
          through their current living situation, including their daily, weekly, and monthly routines and their expectations from a caregiver
          caregiver care  caregiver.The care costs can be lower if your loved one doesn't require constant care.</p>
        </div>
  
      </div>
    </section>
  
    <section id="section-b" class="grid">
      <ul>
        <li>
          <div class="card">
            <img src="assets/cuties.jpeg" alt="">
            <div class="card-content">
              <h3 class="card-title">Babysitter pay rates</h3>
              <p>In 2016, the average babysitter rate was nearly 130 kr per hour. Learn how to determine what you 
                should charge based on three important factors. According to...<a href="#">more</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="assets/pexels-love.jpeg" alt="">
            <div class="card-content">
              <h3 class="card-title">How does it work</h3>
              <p>Search for babysitter or a nanny in your local area or post a job to have qualified
                and available babysitters and nannies respond to you. Our membership options make
              it easy and affordable for you to find the perfect babysitter or nanny for your family... <a href="#">more</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="assets/babyfeed.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Why you need a Babysitter contract</h3>
              <p>Settling on a written agreement helps to formalize the babysitter-employer relationship, and to make all parties feel
                clear about each other's expectations. Even if your babysitter only watches your children
                ccasionally...<a href="#">more</a></p>
            </div>
          </div>
        </li>
      </ul>
    </section>
  
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Why use Babysitter</h2>
        <p>Choose the most trusted service available.</p>
        <div class="content-text">
           <p> <mat-icon style="font-size: 55px;color: #2690d4 " 
            matPreffix>search</mat-icon>Contact thousands of verified babysitters!</p>
           <p> <mat-icon style="font-size: 50px;color: #2690d4 " 
            matPreffix>chat</mat-icon>Post a job and receive applications from babysitters.</p>
           <p> <mat-icon style="font-size: 50px;color: #2690d4 " 
            matPreffix>star_rate</mat-icon>Rate and review babysitters and nannies.</p>
           <p> <mat-icon style="font-size: 50px;color: #2690d4 " 
            matPreffix>call</mat-icon>Helpful customer service.</p>


          </div>
          
      </div>
    </section>
  
    <section id="section-d" class="grid">
      <div class="box">
        <h2 id="content-title">Contact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium perferendis tempora
           numquam cupiditate fugit eius dignissimos aliquid inventore odio placeat?</p>
           <p>contact@Babysitter.com</p>
      </div>
  
      <div class="box">
        <h2 class="content-title">About Our Company</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aperiam ut maiores repellendus 
          natus! Labore explicabo quo dolorum dignissimos optio accusamus nemo quas aspernatur, atque 
          necessitatibus. Sequi voluptas soluta quas?</p>
      </div>
    </section>
  
  </main>
  
  
  
  
  
  <footer id="main-footer" class="grid">
    <div>Babysitter Solutions</div>
    <div>Project by <a href="http://localhost:4200/home" target="_blank">Lamin</a></div>
  </footer>
</body>
</html>


    <div class="container" *ngIf="isUserLoggedIn == false">
        <router-outlet></router-outlet>
    </div>
  
