<div class="slantedDiv">

  <h3>About Us</h3>
  <p>Babysitter is a global need without geographic or demographic boundaries. At some point, every person 
    and every family will have care needs, be it for children, seniors, pets or even homes. Our mission 
    is to improve the lives of families and caregivers by helping them connect in a reliable and easy 
    way. Our solutions help families make informed decisions in one of the most important and highly
    considered aspects of their family life: finding and managing quality care for their loved ones.
    In providing families a comprehensive marketplace for care, we are also building the largest global
    destination for quality caregivers to find fulfilling employment and career opportunities. 
    We strive to help our members - families and caregivers - pursue their passions and fulfill the 
    basic human need of caring for each other.</p>
  
    <h4>Mission</h4>
    <p>At Babysitter.com, There for You isn't just our mission, it's our passion. As a one-stop-shop for
       families to meet all their care needs, we understand that one size doesn't fit all. Our goal
       is to provide families with as many options as possible so everyone can find the care that best
       their unique needs.
    </p>
  
    
  </div>
  <footer class="main-footer">
      <p class="foot">Copyright &copy;2018, Babysitter.</p>
    </footer>
  
  