<div>
    <mat-toolbar color="primary">
        <div class="title">
            Find[A]Sitter
            
        </div>
        <div class="navbarDiv">
            <a routerLink="landing" routerLinkActive="active">Home</a>
            <a routerLink="userlist" routerLinkActive="active" id="userlistNav">Userlist</a>
            <a routerLink="login" routerLinkActive="active" id="login">Login</a>
            <a routerLink="profile" routerLinkActive="active" id="router">Profile</a>
            <a routerLink="register" routerLinkActive="active" id="register">Register</a>

            
        </div>
    </mat-toolbar>
</div>

<div class="container">
    
    <router-outlet></router-outlet>
</div>

